/* NAV STYLE  */

.menu {
  display: flex;
  /* margin: 0px 0px 0px 20px; */
  height: 50px;
  width: 100%;
  /* background-color: #ededed; */
  background: #673ab7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

label {
  padding: 14px;
}

select {
  height: 25px;
  margin: 15px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

/* Fetch css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input_tab {
  padding: 12px 0px;
  border-radius: 10pc;
  background: #b993d6;
  background: linear-gradient(to right, #8ca6db, #b993d6);
  color: white;
  box-shadow: none;
  outline-width: 0;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 0.3%;
  border: none;
  left: 70%;
}

@media screen and (max-width: 768px) {
  .input_tab {
    position: unset;
    margin-top: 10px;
  }
}

/* TABLE CSS  */

.Table {
  display: table;
  width: 100%;
  margin-top: 25px;
}

.TableRow {
  display: table-row;
}
.TableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.TableCell,
.TableHead {
  display: table-cell;
  padding: 15px 10px;
  border: 5px solid white;
}
.TableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}

.TableRow:nth-child(odd) {
  background-color: #00fff31f;
}

.TableRow:nth-child(even) {
  background-color: #dddddd2e;
}

.TableHead {
  font-weight: bold;
  color: white;
}
